<header>
  <h1>ACTS Dashboard</h1>
</header>

<mat-card>
  <mat-card-header>
    <mat-card-title>Welcome to the Astronaut Career Tracking System (ACTS) Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>View astronaut duties here.</p>
    <mat-form-field>
      <input matInput placeholder="Name" [(ngModel)]="searchQuery" (keyup.enter)="search()">
      <button mat-button (click)="search()" matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="loading" class="loading-spinner">
      <mat-spinner diameter="32" color="accent"></mat-spinner>
    </div>

    <div *ngIf="astronautDetails" class="astronaut-details">
      <h2 class="mat-title">Astronaut Details</h2>
      <div class="detail-row">
        <mat-icon class="detail-icon">person</mat-icon>
        <p class="detail-label">Name:</p>
        <p class="detail-value">{{ astronautDetails.name }}</p>
      </div>
      <div class="detail-row">
        <mat-icon class="detail-icon">star</mat-icon>
        <p class="detail-label">Rank:</p>
        <p class="detail-value">{{ astronautDetails.currentRank }}</p>
      </div>
      <div class="detail-row">
        <mat-icon class="detail-icon">work</mat-icon>
        <p class="detail-label">Duty:</p>
        <p class="detail-value">{{ astronautDetails.currentDutyTitle }}</p>
      </div>
      <div class="detail-row">
        <mat-icon class="detail-icon">event</mat-icon>
        <p class="detail-label">Start Date:</p>
        <p class="detail-value">{{ astronautDetails.careerStartDate ? (astronautDetails.careerStartDate |
          date:'mediumDate') : '' }}</p>
      </div>
      <div class="detail-row">
        <mat-icon class="detail-icon">event</mat-icon>
        <p class="detail-label">End Date:</p>
        <p class="detail-value">{{ astronautDetails.careerEndDate ? (astronautDetails.careerEndDate |
          date:'mediumDate') : '' }}</p>
      </div>
    </div>

  </mat-card-content>
</mat-card>