header {
  text-align: center;
  padding: 20px;
  background-color: #3f51b5;
  color: white;
}

mat-card {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-left: 10px;
}

.astronaut-details {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 16px;
  background-color: #f9f9f9;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.detail-icon {
  margin-right: 8px;
}

.detail-label {
  font-weight: bold;
  margin-right: 8px;
}

.detail-value {
  margin: 0;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.loading-spinner mat-spinner {
  width: 32px;
  height: 32px;
}
